.container {
  display: flex;
  width: 100%;
}
.big-area {
  width: 50%;
  margin: 5px;
}

.input-box {
  margin-top: 10px;
}

div {
  label {
    display: block;
  }
  input {
    border-radius: 5px;
    padding: 5px;
  }
}

.register-button {
  background-color: gray;
  color: white;
  width: 100%;
  border-radius: 5px;
}
